{% extends 'base.html.twig' %}

{% block title %}Dependency Injection{% endblock %}

{% block body %}
    {% if message %}
        <p>Message: {{ message }}</p>
    {% endif %}

    <form action="{{ path('master') }}" method="post">
        <input type="text" name="message" placeholder="message">
        <select name="classNames" id="classNames">
            <option value="Capitalize">Capitalize</option>
            <option value="SpacesDashes">SpacesDashes</option>
        </select>
        <button type="submit">Log message</button>
    </form>
{% endblock %}