{% extends 'base.html.twig' %}
{% block title %}Dependency Injection{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}

 {% block body %}

     <div class="container">
     <br>
     <br><br>
         <br>
   <p>Europe: {{ date|format_date(pattern="d/M/Y") }}</p>

   <p>America: {{ date|format_date(pattern="M/d/Y") }}</p>

   <p>China & Japan: {{ date|format_date(pattern="Y/M/d") }}</p>

     </div>
 {% endblock %}